/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f8f8f8;
    line-height: 2rem;
    background-image: url("background.png");
}

.App {
    max-width: 600px;
    margin:0 auto;
    background-color: white;
}

.App-top {
    background-color: #D1BDB7;
    height: 80px;
    position: relative;
    margin-top: 30px;
}

.App-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}
ul {
    list-style: none;
    margin-top: 20px;
    padding-left:0px;
}

ul>li:hover {
    background-color: #F5F5F5;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    border: 1px solid #ddd;
}

.btn-update {
    float: left;
}

.btn-delete {
    float: right;
}

.btn-add {
    margin-left: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.form-group {
    display: inline-block;
    margin-top: 20px;
}
.form-control {
    display: inline-block;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 1rem;
}

.form-search {
    margin-bottom: 20px;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

